.addbutton {
  height: 48px;
  width: 48px;
  margin: 12px auto 0;
  border: none;
  border-radius: 50%;
  background-image: url("../image/ic_add.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}