.addbutton {
  height: 48px;
  width: 48px;
  margin: 12px auto 0;
  border: none;
  border-radius: 50%;
  background-image: url("../image/ic_add.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: deepskyblue;
  box-shadow: 1px 1px 10px grey;
}

.deletebutton {
  display: inline-block;
  height: 28px;
  width: 28px;
  vertical-align: middle;
  border: none;
  background-image: url("../image/ic_delete.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;	
  background-color: transparent;
}