.addbutton {
  height: 48px;
  width: 48px;
  margin: 12px auto 0;
  border: none;
  border-radius: 50%;
  background-image: url(/static/media/ic_add.7c4f62aa.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}