$secondary-color: wheat;

%smallbtn {
  display: inline-block;
  height: 28px;
  width: 28px;
  padding: 0;
  margin: 12px;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;  
  background-color: $secondary-color;
}

.addbutton {
  @extend %smallbtn;
  background-image: url("../image/ic_add.svg");
}

.deletebutton {
  @extend %smallbtn;
  background-image: url("../image/ic_delete.svg");
}

.searchbutton {
  display: block;
  height: 56px;
  width: 56px;
  margin: 12px auto;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;  
  background-color: $secondary-color;
  background-image: url("../image/ic_search.svg");
  border-radius: 50%;
}