.header-wrapper {
	display: flex;
	align-items: center;

	div:nth-child(odd) {
		flex-grow: 1;
		
		img {
			height: 24px;
			width: 24px;
			padding: 4px;
		}
	}

	div:nth-child(2) {
		flex-grow: 3;
		height: 35px;
	  line-height: 35px;
	  font-size: 1.1rem;
	  text-align: center;
	}

	div:nth-child(3) {
		text-align: right;
	}
}