.header-wrapper {
	display: flex;

	div:nth-child(odd) {
		flex-grow: 1;
	}

	div:nth-child(2) {
		flex-grow: 3;
		height: 35px;
	  line-height: 35px;
	  text-align: center;
	}

	div:nth-child(3) {
		text-align: right;
	}
}