.inputline-wrapper {
	display: flex;
	align-items: center;
	height: 48px;

	img {
		height: 16px;
		width: 16px;
		padding: 2px;
		border-radius: 50%;
	}

	div {
		flex-grow: 1;
		height: 47px;
		line-height: 47px;
		margin-right: 16px;
		color: rgba(0, 0, 0, .27);
		font-size: .9rem;
		border-bottom: 1px solid #f1f1f1;
		border-radius: 0;
	}
}