.wrapper {
	display: flex;
	flex-direction: column;
	padding: 16px 8px;

	.long-btn {
		padding: 8px;
		border: 1px solid #000;
		text-align: center;
	}

	.long-btn:active {
		background-color: black;
		color: white;
	}

	.filter-wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 4px;
		margin: 8px 0;
		text-align: center;

		.filter-item {
			padding: 4px 8px;
			color: #fff;

			color: #000;
			border: 1px solid black;
		}

		// .filter-item:nth-child(1) {
		// 	background-color: #77d7ec;
		// }

		// .filter-item:nth-child(2) {
		// 	background-color: #ffd739;
		// }

		// .filter-item:nth-child(3) {
		// 	background-color: #84d02b;
		// }

		// .filter-item:nth-child(4) {
		// 	background-color: #fb9543;
		// }

		// .filter-item:nth-child(5) {
		// 	background-color: #ff4081
		// }

		// .filter-item:nth-child(6) {
		// 	color: #000;
		// 	border: 1px solid black;
		// }

		.filter-item:active {
			background-color: black;
			color: white;			
		}							
	}

	.main {
		position: absolute;
		top: 118px;
		bottom: 0;
		left: 8px;
		right: 8px;
		overflow-y: auto;

		.content-wrapper {
			border-bottom: 1px solid #f1f1f1;

			.title-wrapper {
				display: grid;
				grid-template-columns: 80% 20%;
				margin: 12px 0;

				div:nth-child(1) {
					overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    font-weight: bold;
				}

				div:nth-child(2) {
					text-align: right;
					color: rgba(0, 0, 0, .54);
					font-size: .9rem;
				}

				div:nth-child(2):before {
					content: "";
					margin-right: 2px;
					display: inline-block;
					height: 16px;
					width: 16px;
					background-image: url('../image/ic_location.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;		
				}
			}

			.images-wrapper {
				display: flex;
				flex-direction: row;
			}

			.info-wrapper {
				display: grid;
				grid-template-columns: 35% 65%;
				align-items: center;
				margin: 4px 0;
				font-size: .9rem;
				color: rgba(0, 0, 0, .54);

				.userinfo {
					display: flex;
					align-items: center;

					div {
						img {
							height: 36px;
							width: 36px;
							margin-right: 8px;
							border-radius: 50%;
						}
					}
				}

				.articleinfo {
					text-align: right;

					div {
						display: inline;
						margin-left: 8px;
					}

					div:nth-child(1):before {
						content: "";
						margin-right: 4px;
						display: inline-block;
						height: 15px;
						width: 15px;
						background-image: url('../image/ic_score.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;						
					}

					div:nth-child(2):before {
						content: "";
						margin-right: 4px;
						display: inline-block;
						height: 13px;
						width: 13px;
						background-image: url('../image/ic_comments.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;						
					}

					div:nth-child(3):before {
						content: "";
						margin-right: 4px;
						display: inline-block;
						height: 15px;
						width: 15px;
						background-image: url('../image/ic_like.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;							
					}					
				}
			}
		}
	}
}