.place-wrapper {
	position: absolute;
	top: 52px;
	bottom: 0;
	right: 0px;
	left: 0px;
	overflow-y: auto;

	.place-cover {
		height: 240px;
		background-image: url('http://qcloud.dpfile.com/pc/2EO_xWZ1WefLsVobrGwGA_Q4Z9VlXmHawl_8D172phQj5lz1eDFkcCiBcYKi1L8pjoJrvItByyS4HHaWdXyO_DrXIaWutJls2xCVbatkhjUNNiIYVnHvzugZCuBITtvjski7YaLlHpkrQUr5euoQrg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.place-content-wrapper {
		padding: 16px;

		.place-title {

			div:nth-child(1) {
				font-weight: bold;
			}

			div:nth-child(2) {
				font-size: .8rem;
				color: rgba(0, 0, 0, .54);
			}
		}

		ul {
			height: 33px;
			margin: 8px 0;
			padding: 0;
			list-style: none;

			li {
				float: left;
				padding: 4px;
				margin-right: 8px;
				background-color: #efb952;
				border-radius: 4px;
				font-size: .8rem;
				color: white;
			}
		}

		.place-content-description {
			line-height: 28px;
			font-size: .9rem;
		}

		.place-comment {
			display: grid;
			grid-template-columns: 48px 4fr 3fr;
			grid-template-rows: 56px 1fr;

			img {
				height: 40px;
				width: 40px;
				border-radius: 50%;
			}

			.place-comment-time {
				font-size: .8rem;
				color: rgba(0, 0, 0, .54);
			}

			.place-comment-add {
				justify-self: end;
				display: inline-table;
				border: 1px solid black;
				border-radius: 4px;
				font-size: .8rem;
				padding: 2px 8px;
			}

			.place-comment-text {
				grid-column-start: 1;
			  grid-column-end: 4;  
			  font-size: .9rem;
			  color: rgba(0, 0, 0, .7);
			}
		}

		.place-add-btn {
			padding: 8px;
	    margin: 32px 0;
	    text-align: center;
	    color: white;
	    // border: 1px solid black;
	    background-color: #efb952;
	    border-radius: 4px;
		}
	}
}