.placebar-wrapper {
	display: grid;
  grid-template-columns: 6fr 2fr 2fr;		
  place-items: center center;
  column-gap: 4px;
  padding: 8px;

	.placebar-address {
    justify-self: start;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		div:nth-child(1) {
	    font-size: .9rem;
	    font-weight: bold;
		}

		div:nth-child(2) {
	    font-size: .8rem;
    	color: rgba(0, 0, 0, .54);		
		}
	}

	// .placebar-address:before {
	// 	content: "";
	// 	margin-right: 2px;
	// 	display: inline-block;
	// 	height: 16px;
	// 	width: 16px;
	// 	background-image: url('../image/ic_location.svg');
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-size: cover;				
	// }

	.placebar-weather {
		font-size: .9rem;
		color: rgba(0, 0, 0, .54);
	}

	.placebar-weather:before {
		content: "";
		margin-right: 2px;
		display: inline-block;
		height: 16px;
		width: 16px;
		background-image: url('../image/ic_cloudy.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;		
	}
	
	.placebar-btn-group	{
		div {
			display: inline;
			margin: 0;
			padding: 4px;
			font-size: .9rem;
	    border-radius: 4px;
		}

		div:nth-child(2) {
			margin-left: 8px;
			padding: 0;
			background-color: transparent;

			img {
				display: inline;
				height: 20px;
		    width: 20px;
		    vertical-align: middle;
			}
		}
	}
}