.routes-container {
	margin: 0;
	padding: 0;
	list-style: none;

	.routes-inner-container {
		display: flex;
		align-items: center;
		margin: 8px;
		padding: 8px;
    border-bottom: 1px solid #f1f1f1;

    .routes-item-number {
    	font-size: 1.6rem;
    }

    .routes-item-content {
    	flex-grow: 8;
    	margin: 0 16px;
    }

    .routes-item {

			.route {
				font-size: 16px;
			}

			.detail {
				margin: 4px 0;
				font-size: 14px;
				color: rgba(0, 0, 0, .26);
			}

			img {
		    height: 14px;
		    padding: 10px;
				background-color: wheat;
		    border-radius: 50%;
			}
		}
	}
}