.searchplace-wrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.searchplace-header {
		margin: 16px 8px 0;

		img {
			width: 18px;
	    height: 18px;
	    padding: 8px;
		}
	}

	.searchplace-input-wrapper {
		display: flex;
		align-items: center;
		height: 36px;
		margin: 0 16px;
		border: 1px solid lightgrey;

		.icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: 8px;
			background-image: url("../image/ic_search_grey.svg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
		}

		input {
			flex-grow: 1;
			height: 100%;
		}
	}
}